.listCont {
  /* padding-top: 152px;
  padding-left: 128px; */
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #f3f3f3;
}

.listContBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadMore {
  background-color: #103931;
  color: #fbfbfb;
  padding: 14px 40px;
  border-radius: 30px;
  margin-top: 64px;
}
