.card {
  position: relative;
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  gap: 24px;
}
.contNannLocRat {
  display: flex;
  justify-content: space-between;
  padding-right: 74px;
}
.ulLoc {
  display: flex;
  gap: 16px;
}
.liRat,
.liLoc,
.liPr {
  display: flex;
  align-items: center;
  gap: 8px;
}
.liRat {
  border-left: 1px solid #11101c33;
  border-right: 1px solid #11101c33;
  padding-left: 16px;
  padding-right: 16px;
}
.liPr p {
  color: #11101c;
}
.liPr span {
  color: #38cd3e;
}
.btnFav {
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
}
.svgFav {
  fill: #fbfbfb;
  stroke: #11101c;
  width: 26px;
  height: 26px;
}
.btnFav.active svg {
  fill: #103931;
  stroke: #103931;
}
.cardImg {
  width: 96px;
  height: 96px;
  border: 2px solid #10393133;
  border-radius: 30px;
  padding: 12px;
}

.svgLoc {
  fill: #fbfbfb;
  stroke: #11101c;
  width: 16px;
  height: 16px;
}
.svgRat {
  fill: #ffc531;
  width: 16px;
  height: 16px;
}
.name {
  paddiin-top: 8px;
  padding-bottom: 24px;
}
.ulDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 24px;
}
.ulDetails li {
  background-color: #f3f3f3;
  padding: 8px 16px 8px 16px;
  border-radius: 24px;
  color: #8a8a89;
  font-weight: 500;
}
.spanDet {
  font-weight: 500;
  color: #11101c;
}
.about {
  padding-bottom: 14px;
}
.btnRMore {
  background-color: transparent;
  padding: 0;
  position: relative;
  color: #11101c;
}
.btnRMore::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #11101c;
}
.revCont {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
