.welcomeCont {
  display: flex;
  align-items: center;
  width: 100%;
  height: 736px;
  border-radius: 30px;
}
.contText {
  background-color: #103931;
  width: 100%;
  height: 736px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.contTitle {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 28px;
  padding-top: 150px;
}
.contImg {
  background-image: image-set(
    url("/src/img/Rectangle-x2.jpg") 2x,
    url("/src/img/Rectangle-x1.jpg") 1x
  );
  background-position: right center;
  background-repeat: no-repeat;
  height: 736px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.title {
  letter-spacing: -0.03em;
  margin: 0 auto;
  padding-bottom: 28px;
}
.textWelc {
  color: #fbfbfb;
  font-size: 20px;
  letter-spacing: -0.02em;
  padding-bottom: 28px;
}
.btnWelc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  width: 232px;
  height: 60px;
  border: 1px solid #fbfbfb66;
  border-radius: 30px;
  color: #fbfbfb;
  font-size: 20px;
}
.iconWelc {
  transition: transform 0.2s ease;
}
.btnWelc:hover .iconWelc {
  transform: rotate(45deg);
}
.contCount {
  display: flex;
  background-color: #fbfbfb;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 50px;
  padding: 32px;
}
.contsvg {
  background-color: #103931;
  width: 54px;
  height: 54px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svgCheck {
  width: 25px;
  height: 20px;
}
.expNannCont {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.expNannCount {
  font-size: 24px;
  font-weight: 700;
  color: #11101c;
}

@media screen and (min-width: 1376px) {
  .welcomeCont {
    width: 1376px;
  }
  .contText {
    width: 677px;
  }
  .contImg {
    width: 699px;
  }
  .textWelc {
    font-size: 28px;
    padding-bottom: 64px;
  }
  .contTitle {
    padding-left: 96px;
    padding-top: 251px;
  }
}
