.filter {
  padding-bottom: 32px;
  max-width: 226px;
  position: relative;
}

.filterIcon {
  position: absolute;
  top: 40px;
  right: 18px;
  fill: #fbfbfb !important;
  width: 16px;
  height: 16px;
  cursor: pointer;
  pointer-events: all;
}
