.headerCont {
  padding-top: 32px;
  padding-left: 32px;
  height: 88px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fbfbfb66;
  justify-content: space-between;
}

.iconLogo {
  width: 164px;
  height: 28px;
  padding-left: 96px;
}

.navigation {
  display: flex;
  gap: 32px;
}
.navigationHeader {
  padding-left: 0;
}
.active {
  position: relative;
  display: inline-block;
  color: #fbfbfb;
}
.active::after {
  position: absolute;
  content: "●";
  color: #fbfbfb;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
}
.inactive {
  color: #fbfbfb;
}
.btnCont {
  display: flex;
  gap: 8px;
  margin-right: 96px;
}
.btnLog,
.btnReg,
.btnLogout {
  background: transparent;
  padding: 14px 40px;
  border: 1px solid #fbfbfb66;
  border-radius: 30px;
  color: #fbfbfb;
}
.activeBtn {
  background-color: #103931;
  border: none;
}

.modalContent {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 64px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  animation: ani 0.5s ease-in-out forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
}
.catalogHeader {
  background-color: #103931;
  width: 100%;
  padding-top: 0;
  display: flex;
  align-items: center;
}

.catalogHeader .activeBtn {
  border: 1px solid #fbfbfb66;
  background-color: #fbfbfb;
  color: #103931;
}
.contLogReg {
  display: flex;
  gap: 8px;
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 14px;
}
.userInfo span {
  color: #fbfbfb;
  font-size: 18px;
  font-weight: 500;
}
.svgUser {
  background-color: #fbfbfb;
  border-radius: 10px;
  padding: 12px;
  fill: #103931;
  width: 16px;
  height: 16px;
}
.btnLogout {
  margin-left: 10px;
}
@media screen and (max-width: 1080px) {
  .iconLogo {
    width: 118px;
    height: 20px;
    padding-left: 16px;
  }
  .svgUser {
    padding: 6px;
  }
  .navigation {
    gap: 4px;
  }
  .catalogHeader {
    font-size: 14px;
  }
  .userInfo span {
    font-size: 14px;
  }
  .userInfo {
    gap: 2px;
  }
  .btnLog,
  .btnReg,
  .btnLogout {
    padding: 12px;
    font-size: 10px;
  }
}
@media screen and (min-width: 1376px) {
  .headerCont {
    width: 1376px;
  }
  .catalogHeader {
    width: 100%;
  }
  .navigation {
    padding-left: 450px;
  }
  .navigationHeader {
    padding-left: 0;
  }
}
