.headerCont {
  padding-top: 32px;
  padding-left: 32px;
  height: 88px;
  width: 1376px;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fbfbfb66;
  justify-content: space-between;
}

.iconLogo {
  width: 164px;
  height: 28 px;
  padding-left: 96px;
}

.navigation {
  padding-left: 450px;
  display: flex;
  gap: 32px;
}
.active {
  position: relative;
  display: inline-block;
  color: #fbfbfb;
}
.active::after {
  position: absolute;
  content: "●";
  color: #fbfbfb;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
}
.inactive {
  color: #fbfbfb;
}
.btnCont {
  display: flex;
  gap: 8px;
  margin-right: 96px;
}
.btnLog,
.btnReg {
  background: transparent;
  padding: 14px 40px;
  border: 1px solid #fbfbfb66;
  border-radius: 30px;
  color: #fbfbfb;
}
.activeBtn {
  background-color: #103931;
  border: none;
}
/* @media screen and (min-width: 1440px) {
  .headerCont {
    width: 100vw;
  }
} */
.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Центрує модалку по горизонталі та вертикалі */
  width: 400px; /* Ширина модалки */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тінь для кращого вигляду */
  z-index: 1000; /* Забезпечує, щоб модалка була поверх всіх елементів */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Напівпрозорий фон для затемнення екрану */
  z-index: 999; /* Ставимо фон за модалкою */
}
