.formReg {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.formRegInp {
  padding: 16px 18px;
  border-radius: 12px;
  border: 1px solid #11101c1a;
  font-size: 16px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #fbfbfb;
}
.formRegInp::placeholder {
  color: #11101c;
  opacity: 1;
}

.btnRegist {
  background-color: #103931;
  height: 52px;
  border-radius: 30px;
  color: #fbfbfb;
  margin-top: 22px;
}
.textReg {
  padding-bottom: 40px;
  padding-top: 20px;
}
.divRegInp {
  position: relative;
}
.spanIcons {
  position: absolute;
  right: 16px;
  top: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
