.formReg {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.formRegInp {
  height: 52px;
  border-radius: 12px;
  border: 1px solid #11101c1a;
}

.btnRegist {
  background-color: #103931;
  height: 52px;
  border-radius: 30px;
  color: #fbfbfb;
}
